blis
catalogue
certifi
chardet
click
cymem
Flask
Flask-SQLAlchemy
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
murmurhash
numpy
oauthlib
packaging
pandas
pathy
plac
preshed
pydantic
pyparsing
PySocks
python-dateutil
pytz
requests
requests-oauthlib
scikit-learn
scipy
six
smart-open
spacy==2.3.5
spacy-legacy
SQLAlchemy
srsly
thinc
threadpoolctl
tqdm
tweepy
typer
typing-extensions
urllib3
wasabi
Werkzeug
zipp
